@font-face {
  font-family: 'Ubuntu Regular';
  src: local('Ubuntu-Regular'), url(../src/assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: local('Ubuntu-Medium'), url(../src/assets/fonts/Ubuntu-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: local('Ubuntu-Bold'), url(../src/assets/fonts/Ubuntu-Bold.ttf) format('truetype');
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: hsl(217, 100%, 97%);
  font-family: 'Ubuntu Regular';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
